In [1]:
from datetime import datetime
import awswrangler as wr
import pandas as pd
import ydata_profiling as pp
import json

In [2]:
file_name='organizations_100.csv'

file_name1 = file_name[:-4]

input_location = r'C:\programs\pyprojects\FileIngestionAWS\input_location'
output_location = r'C:\programs\pyprojects\FileIngestionAWS\output_location'

In [8]:
input_df = pd.read_csv(f"{input_location}\\{file_name}")
print(input_df.head(5))

   Index  Organization Id                     Name  \
0      1  FAB0d41d5b5d22c              Ferrell LLC
1      2  6A7EdDEA9FaDC52  Mckinney, Riley and Day
2      3  0bFED1ADAE4bcC1               Hester Ltd
3      4  2bFC1Be8a4ce42f           Holder-Sellers
4      5  9eE8A6a4Eb96C24              Mayer Group

                          Website           Country  \
0              https://price.net/  Papua New Guinea
1  http://www.hall-buchanan.info/           Finland
2       http://sullivan-reed.com/             China
3             https://becker.com/      Turkmenistan
4          http://www.brewer.com/         Mauritius

                                      Description  Founded  \
0             Horizontal empowering knowledgebase     1990
1             User-centric system-worthy leverage     2015
2                  Switchable scalable moratorium     1971
3  De-engineered systemic artificial intelligence     2004
4              Synchronized needs-based challenge     1991

                      Industry  Number of employees
0                     Plastics                 3498
1  Glass / Ceramics / Concrete                 4952
2                Public Safety                 5287
3                   Automotive                  921
4               Transportation                 7870

In [9]:
df_dict=input_df.dtypes.to_dict()
df_dict

{'Index': dtype('int64'),
 'Organization Id': dtype('O'),
 'Name': dtype('O'),
 'Website': dtype('O'),
 'Country': dtype('O'),
 'Description': dtype('O'),
 'Founded': dtype('int64'),
 'Industry': dtype('O'),
 'Number of employees': dtype('int64')}

In [68]:
run_date = datetime.today().strftime('%Y%m%d')
profile = pp.ProfileReport(input_df, title="Data Profile Report",  minimal = True)
output_file_name = F"{output_location}\\{file_name1}_{run_date}_html_profile.html"
output_file_name
profile.to_file(output_file_name)

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [76]:
output_file_name_csv = F"{output_location}\\{file_name1}_{run_date}_csv_profile.csv"

In [77]:
output_file_name_csv

'C:\\programs\\pyprojects\\FileIngestionAWS\\output_location\\organizations_100_20231026_csv_profile.csv'

In [41]:
json_obj = json.loads(profile.to_json())
print('profile_type: {0} json_obj: {1}'.format(type(profile),type(json_obj)))
df = pd.DataFrame(json_obj["variables"])

profile_type: <class 'ydata_profiling.profile_report.ProfileReport'> json_obj: <class 'dict'>

In [42]:
df

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
n_distinct,100,100,100,100,84,100,44,72,100
p_distinct,1.0,1.0,1.0,1.0,0.84,1.0,0.44,0.72,1.0
is_unique,True,True,True,True,False,True,False,False,True
n_unique,100,100,100,100,70,100,13,50,100
p_unique,1.0,1.0,1.0,1.0,0.7,1.0,0.13,0.5,1.0
...,...,...,...,...,...,...,...,...,...
script_char_counts,NaN,"{'Latin': {'c': 84, 'e': 75, 'a': 74, 'B': 73,...","{'Latin': {'e': 137, 'n': 132, 'a': 130, 'r': ...","{'Common': {'/': 300, '.': 147, ':': 100, '-':...","{'Latin': {'a': 129, 'n': 86, 'e': 84, 'i': 75...","{'Latin': {'e': 399, 'i': 265, 't': 251, 'a': ...",NaN,"{'Latin': {'i': 174, 'e': 157, 'n': 138, 't': ...",NaN
category_alias_counts,NaN,"{'Decimal Number': 683, 'Lowercase Letter': 44...","{'Lowercase Letter': 1131, 'Uppercase Letter':...","{'Lowercase Letter': 1724, 'Other Punctuation'...","{'Lowercase Letter': 845, 'Uppercase Letter': ...","{'Lowercase Letter': 2980, 'Space Separator': ...",NaN,"{'Lowercase Letter': 1505, 'Uppercase Letter':...",NaN
n_category,NaN,3,5,3,7,6,NaN,5,NaN
category_alias_char_counts,NaN,"{'Lowercase_Letter': {'c': 84, 'e': 75, 'a': 7...","{'Lowercase_Letter': {'e': 137, 'n': 132, 'a':...","{'Other_Punctuation': {'/': 300, '.': 147, ':'...","{'Lowercase_Letter': {'a': 129, 'n': 86, 'e': ...","{'Lowercase_Letter': {'e': 399, 'i': 265, 't':...",NaN,"{'Lowercase_Letter': {'i': 174, 'e': 157, 'n':...",NaN
word_counts,NaN,"{'fab0d41d5b5d22c': 1, '8d0c29189c9798b': 1, '...","{'and': 30, 'inc': 7, 'llc': 7, 'ltd': 7, 'gro...","{'https://price.net': 1, 'https://www.garner.i...","{'islands': 11, 'benin': 3, 'island': 3, 'swed...","{'frame': 4, 'centralized': 4, 'focus': 4, 'gr...",NaN,"{'': 47, 'services': 9, 'plastics': 4, 'indust...",NaN

In [43]:
df = df.drop(index = ['value_counts_without_nan', 'value_counts_index_sorted', 'hashable', 'ordering', 'n', 'first_rows', 'memory_size', 'n_negative', 'p_negative', 'n_infinite', 'n_zeros', 'sum', 'histogram', 'p_zeros', 'p_infinite', 'monotonic_increase', 'monotonic_decrease', 'monotonic_increase_strict', 'monotonic_decrease_strict'])

In [44]:
df

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
n_distinct,100,100,100,100,84,100,44,72,100
p_distinct,1.0,1.0,1.0,1.0,0.84,1.0,0.44,0.72,1.0
is_unique,True,True,True,True,False,True,False,False,True
n_unique,100,100,100,100,70,100,13,50,100
p_unique,1.0,1.0,1.0,1.0,0.7,1.0,0.13,0.5,1.0
type,Numeric,Text,Text,Text,Text,Text,Numeric,Text,Numeric
n_missing,0,0,0,0,0,0,0,0,0
p_missing,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
count,100,100,100,100,100,100,100,100,100
mean,50.5,NaN,NaN,NaN,NaN,NaN,1995.41,NaN,4964.86
std,29.011492,NaN,NaN,NaN,NaN,NaN,15.744228,NaN,2850.859799
variance,841.666667,NaN,NaN,NaN,NaN,NaN,247.880707,NaN,8127401.596364
min,1,NaN,NaN,NaN,NaN,NaN,1970,NaN,236
max,100,NaN,NaN,NaN,NaN,NaN,2021,NaN,9995
kurtosis,-1.2,NaN,NaN,NaN,NaN,NaN,-1.17983,NaN,-1.251746
skewness,0.0,NaN,NaN,NaN,NaN,NaN,-0.013946,NaN,-0.027064
mad,25.0,NaN,NaN,NaN,NaN,NaN,14.0,NaN,2565.0
range,99,NaN,NaN,NaN,NaN,NaN,51,NaN,9759
5%,5.95,NaN,NaN,NaN,NaN,NaN,1971.0,NaN,600.05
25%,25.75,NaN,NaN,NaN,NaN,NaN,1983.5,NaN,2741.25
50%,50.5,NaN,NaN,NaN,NaN,NaN,1995.0,NaN,4941.5
75%,75.25,NaN,NaN,NaN,NaN,NaN,2010.25,NaN,7558.0
95%,95.05,NaN,NaN,NaN,NaN,NaN,2020.0,NaN,9079.9
iqr,49.5,NaN,NaN,NaN,NaN,NaN,26.75,NaN,4816.75
cv,0.574485,NaN,NaN,NaN,NaN,NaN,0.00789,NaN,0.574207
monotonic,2,NaN,NaN,NaN,NaN,NaN,0,NaN,0
max_length,NaN,15,31,34,33,57,NaN,51,NaN
mean_length,NaN,15.0,15.61,23.02,10.52,33.99,NaN,19.33,NaN
median_length,NaN,15,27,28,25,40.5,NaN,31,NaN
min_length,NaN,15,8,16,4,23,NaN,5,NaN
length_histogram,NaN,{'15': 100},"{'10': 14, '14': 14, '11': 13, '12': 7, '15': ...","{'23': 12, '20': 11, '19': 9, '21': 9, '28': 8...","{'7': 18, '6': 13, '8': 13, '5': 10, '10': 6, ...","{'33': 11, '35': 9, '38': 9, '31': 8, '29': 7,...",NaN,"{'8': 11, '18': 9, '17': 8, '20': 6, '15': 6, ...",NaN
histogram_length,NaN,"{'counts': [100], 'bin_edges': [14.5, 15.5]}","{'counts': [9, 14, 13, 7, 6, 14, 10, 1, 0, 0, ...","{'counts': [3, 5, 8, 9, 11, 9, 7, 12, 2, 5, 4,...","{'counts': [15, 13, 31, 5, 6, 5, 3, 5, 3, 0, 1...","{'counts': [3, 1, 6, 5, 13, 8, 5, 17, 9, 8, 9,...",NaN,"{'counts': [1, 12, 3, 4, 1, 9, 6, 10, 9, 10, 3...",NaN
n_characters_distinct,NaN,22,50,29,53,51,NaN,49,NaN
n_characters,NaN,1500,1561,2302,1052,3399,NaN,1933,NaN
character_counts,NaN,"{'c': 84, '3': 78, '5': 76, 'e': 75, 'a': 74, ...","{'e': 137, 'n': 132, 'a': 130, ' ': 116, 'r': ...","{'/': 300, 't': 246, 'w': 155, '.': 147, 'o': ...","{'a': 129, 'n': 86, 'e': 84, 'i': 75, 'r': 60,...","{'e': 399, 'i': 265, 't': 251, 'a': 245, 'n': ...",NaN,"{'i': 174, ' ': 162, 'e': 157, 'n': 138, 't': ...",NaN
category_alias_values,NaN,"{'c': 'Lowercase_Letter', '3': 'Decimal_Number...","{'e': 'Lowercase_Letter', 'n': 'Lowercase_Lett...","{'/': 'Other_Punctuation', 't': 'Lowercase_Let...","{'a': 'Lowercase_Letter', 'n': 'Lowercase_Lett...","{'e': 'Lowercase_Letter', 'i': 'Lowercase_Lett...",NaN,"{'i': 'Lowercase_Letter', ' ': 'Space_Separato...",NaN
block_alias_values,NaN,"{'c': 'ASCII', '3': 'ASCII', '5': 'ASCII', 'e'...","{'e': 'ASCII', 'n': 'ASCII', 'a': 'ASCII', ' '...","{'/': 'ASCII', 't': 'ASCII', 'w': 'ASCII', '.'...","{'a': 'ASCII', 'n': 'ASCII', 'e': 'ASCII', 'i'...","{'e': 'ASCII', 'i': 'ASCII', 't': 'ASCII', 'a'...",NaN,"{'i': 'ASCII', ' ': 'ASCII', 'e': 'ASCII', 'n'...",NaN
block_alias_counts,NaN,{'ASCII': 1500},{'ASCII': 1561},{'ASCII': 2302},{'ASCII': 1052},{'ASCII': 3399},NaN,{'ASCII': 1933},NaN
n_block_alias,NaN,1,1,1,1,1,NaN,1,NaN
block_alias_char_counts,NaN,"{'ASCII': {'c': 84, '3': 78, '5': 76, 'e': 75,...","{'ASCII': {'e': 137, 'n': 132, 'a': 130, ' ': ...","{'ASCII': {'/': 300, 't': 246, 'w': 155, '.': ...","{'ASCII': {'a': 129, 'n': 86, 'e': 84, 'i': 75...","{'ASCII': {'e': 399, 'i': 265, 't': 251, 'a': ...",NaN,"{'ASCII': {'i': 174, ' ': 162, 'e': 157, 'n': ...",NaN
script_counts,NaN,"{'Latin': 817, 'Common': 683}","{'Latin': 1379, 'Common': 182}","{'Latin': 1724, 'Common': 578}","{'Latin': 992, 'Common': 60}","{'Latin': 3086, 'Common': 313}",NaN,"{'Latin': 1724, 'Common': 209}",NaN
n_scripts,NaN,2,2,2,2,2,NaN,2,NaN
script_char_counts,NaN,"{'Latin': {'c': 84, 'e': 75, 'a': 74, 'B': 73,...","{'Latin': {'e': 137, 'n': 132, 'a': 130, 'r': ...","{'Common': {'/': 300, '.': 147, ':': 100, '-':...","{'Latin': {'a': 129, 'n': 86, 'e': 84, 'i': 75...","{'Latin': {'e': 399, 'i': 265, 't': 251, 'a': ...",NaN,"{'Latin': {'i': 174, 'e': 157, 'n': 138, 't': ...",NaN
category_alias_counts,NaN,"{'Decimal Number': 683, 'Lowercase Letter': 44...","{'Lowercase Letter': 1131, 'Uppercase Letter':...","{'Lowercase Letter': 1724, 'Other Punctuation'...","{'Lowercase Letter': 845, 'Uppercase Letter': ...","{'Lowercase Letter': 2980, 'Space Separator': ...",NaN,"{'Lowercase Letter': 1505, 'Uppercase Letter':...",NaN
n_category,NaN,3,5,3,7,6,NaN,5,NaN
category_alias_char_counts,NaN,"{'Lowercase_Letter': {'c': 84, 'e': 75, 'a': 7...","{'Lowercase_Letter': {'e': 137, 'n': 132, 'a':...","{'Other_Punctuation': {'/': 300, '.': 147, ':'...","{'Lowercase_Letter': {'a': 129, 'n': 86, 'e': ...","{'Lowercase_Letter': {'e': 399, 'i': 265, 't':...",NaN,"{'Lowercase_Letter': {'i': 174, 'e': 157, 'n':...",NaN
word_counts,NaN,"{'fab0d41d5b5d22c': 1, '8d0c29189c9798b': 1, '...","{'and': 30, 'inc': 7, 'llc': 7, 'ltd': 7, 'gro...","{'https://price.net': 1, 'https://www.garner.i...","{'islands': 11, 'benin': 3, 'island': 3, 'swed...","{'frame': 4, 'centralized': 4, 'focus': 4, 'gr...",NaN,"{'': 47, 'services': 9, 'plastics': 4, 'indust...",NaN

In [45]:
df = df.transpose()

In [46]:
df

,n_distinct,p_distinct,is_unique,n_unique,p_unique,type,n_missing,p_missing,count,mean,...,block_alias_counts,n_block_alias,block_alias_char_counts,script_counts,n_scripts,script_char_counts,category_alias_counts,n_category,category_alias_char_counts,word_counts
Index,100,1.0,True,100,1.0,Numeric,0,0.0,100,50.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Organization Id,100,1.0,True,100,1.0,Text,0,0.0,100,NaN,...,{'ASCII': 1500},1,"{'ASCII': {'c': 84, '3': 78, '5': 76, 'e': 75,...","{'Latin': 817, 'Common': 683}",2,"{'Latin': {'c': 84, 'e': 75, 'a': 74, 'B': 73,...","{'Decimal Number': 683, 'Lowercase Letter': 44...",3,"{'Lowercase_Letter': {'c': 84, 'e': 75, 'a': 7...","{'fab0d41d5b5d22c': 1, '8d0c29189c9798b': 1, '..."
Name,100,1.0,True,100,1.0,Text,0,0.0,100,NaN,...,{'ASCII': 1561},1,"{'ASCII': {'e': 137, 'n': 132, 'a': 130, ' ': ...","{'Latin': 1379, 'Common': 182}",2,"{'Latin': {'e': 137, 'n': 132, 'a': 130, 'r': ...","{'Lowercase Letter': 1131, 'Uppercase Letter':...",5,"{'Lowercase_Letter': {'e': 137, 'n': 132, 'a':...","{'and': 30, 'inc': 7, 'llc': 7, 'ltd': 7, 'gro..."
Website,100,1.0,True,100,1.0,Text,0,0.0,100,NaN,...,{'ASCII': 2302},1,"{'ASCII': {'/': 300, 't': 246, 'w': 155, '.': ...","{'Latin': 1724, 'Common': 578}",2,"{'Common': {'/': 300, '.': 147, ':': 100, '-':...","{'Lowercase Letter': 1724, 'Other Punctuation'...",3,"{'Other_Punctuation': {'/': 300, '.': 147, ':'...","{'https://price.net': 1, 'https://www.garner.i..."
Country,84,0.84,False,70,0.7,Text,0,0.0,100,NaN,...,{'ASCII': 1052},1,"{'ASCII': {'a': 129, 'n': 86, 'e': 84, 'i': 75...","{'Latin': 992, 'Common': 60}",2,"{'Latin': {'a': 129, 'n': 86, 'e': 84, 'i': 75...","{'Lowercase Letter': 845, 'Uppercase Letter': ...",7,"{'Lowercase_Letter': {'a': 129, 'n': 86, 'e': ...","{'islands': 11, 'benin': 3, 'island': 3, 'swed..."
Description,100,1.0,True,100,1.0,Text,0,0.0,100,NaN,...,{'ASCII': 3399},1,"{'ASCII': {'e': 399, 'i': 265, 't': 251, 'a': ...","{'Latin': 3086, 'Common': 313}",2,"{'Latin': {'e': 399, 'i': 265, 't': 251, 'a': ...","{'Lowercase Letter': 2980, 'Space Separator': ...",6,"{'Lowercase_Letter': {'e': 399, 'i': 265, 't':...","{'frame': 4, 'centralized': 4, 'focus': 4, 'gr..."
Founded,44,0.44,False,13,0.13,Numeric,0,0.0,100,1995.41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Industry,72,0.72,False,50,0.5,Text,0,0.0,100,NaN,...,{'ASCII': 1933},1,"{'ASCII': {'i': 174, ' ': 162, 'e': 157, 'n': ...","{'Latin': 1724, 'Common': 209}",2,"{'Latin': {'i': 174, 'e': 157, 'n': 138, 't': ...","{'Lowercase Letter': 1505, 'Uppercase Letter':...",5,"{'Lowercase_Letter': {'i': 174, 'e': 157, 'n':...","{'': 47, 'services': 9, 'plastics': 4, 'indust..."
Number of employees,100,1.0,True,100,1.0,Numeric,0,0.0,100,4964.86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
df.rename(columns = {'count':'No. of Values', 'n_distinct':'Distinct', 'p_distinct':'Distinct (%)','is_unique':'Is Unique?','n_unique':'Unique', 'p_unique':'Unique (%)', 'type':'Data Type', 'n_missing':'Missing', 'p_missing':'Missing (%)', 'mean':'Mean', 'std':'Standard deviation', 'variance':'Variance', 'min':'Minimum', 'max':'Maximum', 'kurtosis':'Kurtosis', 'skewness':'Skewness', 'mad':'Median Absolute Deviation (MAD)', 'range':'Range', '5%':'5-th percentile', '25%':'Q1', '50%':'Median', '75%':'Q3', '95%':'95-th percentile', 'iqr':'Interquartile range (IQR)', 'cv':'Coefficient of variation (CV)', 'monotonic':'Monotonicity'}, inplace = True)

In [48]:
df['Column Name'] = df.index

In [52]:
column_titles = ['Column Name', 'Data Type', 'No. of Values', 'Distinct', 'Distinct (%)', 'Is Unique?', 'Unique', 'Unique (%)',  'Missing', 'Missing (%)', 'Mean', 'Standard deviation', 'Variance', 'Minimum', 'Maximum', 'Kurtosis', 'Skewness', 'Median Absolute Deviation (MAD)', 'Range', '5-th percentile', 'Q1', 'Median', 'Q3', '95-th percentile', 'Interquartile range (IQR)', 'Coefficient of variation (CV)', 'Monotonicity']

In [53]:
df = df.reindex(columns=column_titles)

In [54]:
df

,Column Name,Data Type,No. of Values,Distinct,Distinct (%),Is Unique?,Unique,Unique (%),Missing,Missing (%),...,Median Absolute Deviation (MAD),Range,5-th percentile,Q1,Median,Q3,95-th percentile,Interquartile range (IQR),Coefficient of variation (CV),Monotonicity
Index,Index,Numeric,100,100,1.0,True,100,1.0,0,0.0,...,25.0,99,5.95,25.75,50.5,75.25,95.05,49.5,0.574485,2
Organization Id,Organization Id,Text,100,100,1.0,True,100,1.0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Name,Name,Text,100,100,1.0,True,100,1.0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Website,Website,Text,100,100,1.0,True,100,1.0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Country,Country,Text,100,84,0.84,False,70,0.7,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Description,Description,Text,100,100,1.0,True,100,1.0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Founded,Founded,Numeric,100,44,0.44,False,13,0.13,0,0.0,...,14.0,51,1971.0,1983.5,1995.0,2010.25,2020.0,26.75,0.00789,0
Industry,Industry,Text,100,72,0.72,False,50,0.5,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Number of employees,Number of employees,Numeric,100,100,1.0,True,100,1.0,0,0.0,...,2565.0,9759,600.05,2741.25,4941.5,7558.0,9079.9,4816.75,0.574207,0

In [55]:
df.insert(0, 'File Name', file_name)

In [56]:
df

,File Name,Column Name,Data Type,No. of Values,Distinct,Distinct (%),Is Unique?,Unique,Unique (%),Missing,...,Median Absolute Deviation (MAD),Range,5-th percentile,Q1,Median,Q3,95-th percentile,Interquartile range (IQR),Coefficient of variation (CV),Monotonicity
Index,organizations_100.csv,Index,Numeric,100,100,1.0,True,100,1.0,0,...,25.0,99,5.95,25.75,50.5,75.25,95.05,49.5,0.574485,2
Organization Id,organizations_100.csv,Organization Id,Text,100,100,1.0,True,100,1.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Name,organizations_100.csv,Name,Text,100,100,1.0,True,100,1.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Website,organizations_100.csv,Website,Text,100,100,1.0,True,100,1.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Country,organizations_100.csv,Country,Text,100,84,0.84,False,70,0.7,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Description,organizations_100.csv,Description,Text,100,100,1.0,True,100,1.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Founded,organizations_100.csv,Founded,Numeric,100,44,0.44,False,13,0.13,0,...,14.0,51,1971.0,1983.5,1995.0,2010.25,2020.0,26.75,0.00789,0
Industry,organizations_100.csv,Industry,Text,100,72,0.72,False,50,0.5,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Number of employees,organizations_100.csv,Number of employees,Numeric,100,100,1.0,True,100,1.0,0,...,2565.0,9759,600.05,2741.25,4941.5,7558.0,9079.9,4816.75,0.574207,0

In [57]:
df['Distinct (%)'] = (df['Distinct (%)']*100).astype(float).round(2)
df['Unique (%)'] = (df['Unique (%)']*100).astype(float).round(2)
df['Missing (%)'] = (df['Missing (%)']*100).astype(float).round(2)
# round 2 decimal place
df['Mean'] = df['Mean'].astype(float).round(2)
df['Standard deviation'] = df['Standard deviation'].astype(float).round(2)
df['Variance'] = df['Mean'].astype(float).round(2)
df['Minimum'] = df['Minimum'].astype(float).round(2)
df['Maximum'] = df['Maximum'].astype(float).round(2)
df['Kurtosis'] = df['Kurtosis'].astype(float).round(2)
df['Skewness'] = df['Skewness'].astype(float).round(2)
df['Median Absolute Deviation (MAD)'] = df['Median Absolute Deviation (MAD)'].astype(float).round(2)
df['5-th percentile'] = df['5-th percentile'].astype(float).round(2)
df['Q1'] = df['Q1'].astype(float).round(2)
df['Median'] = df['Median'].astype(float).round(2)
df['Q3'] = df['Q3'].astype(float).round(2)
df['95-th percentile'] = df['95-th percentile'].astype(float).round(2)
df['Median Absolute Deviation (MAD)'] = df['Median Absolute Deviation (MAD)'].astype(float).round(2)
df['5-th percentile'] = df['5-th percentile'].astype(float).round(2)
df['Interquartile range (IQR)'] = df['Interquartile range (IQR)'].astype(float).round(2)
df['Coefficient of variation (CV)'] = df['Coefficient of variation (CV)'].astype(float).round(2)
df['Monotonicity'] = df['Monotonicity'].astype(float).round(2)

In [58]:
data_dict = {
  'object': 'string',
  'int32': 'int',
  'int64': 'bigint',
  'float64': 'double'
}

In [59]:
df

,File Name,Column Name,Data Type,No. of Values,Distinct,Distinct (%),Is Unique?,Unique,Unique (%),Missing,...,Median Absolute Deviation (MAD),Range,5-th percentile,Q1,Median,Q3,95-th percentile,Interquartile range (IQR),Coefficient of variation (CV),Monotonicity
Index,organizations_100.csv,Index,Numeric,100,100,100.0,True,100,100.0,0,...,25.0,99,5.95,25.75,50.5,75.25,95.05,49.50,0.57,2.0
Organization Id,organizations_100.csv,Organization Id,Text,100,100,100.0,True,100,100.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Name,organizations_100.csv,Name,Text,100,100,100.0,True,100,100.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Website,organizations_100.csv,Website,Text,100,100,100.0,True,100,100.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Country,organizations_100.csv,Country,Text,100,84,84.0,False,70,70.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Description,organizations_100.csv,Description,Text,100,100,100.0,True,100,100.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Founded,organizations_100.csv,Founded,Numeric,100,44,44.0,False,13,13.0,0,...,14.0,51,1971.00,1983.50,1995.0,2010.25,2020.00,26.75,0.01,0.0
Industry,organizations_100.csv,Industry,Text,100,72,72.0,False,50,50.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Number of employees,organizations_100.csv,Number of employees,Numeric,100,100,100.0,True,100,100.0,0,...,2565.0,9759,600.05,2741.25,4941.5,7558.00,9079.90,4816.75,0.57,0.0

In [61]:
import numpy as np

In [62]:
for column_name, dtyp in df_dict.items():
    df['Data Type'] = np.where(df['Column Name'] == column_name, data_dict[str(dtyp)], df['Data Type'])

In [63]:
print('PII starts: {0}'.format(str(datetime.now())))

PII starts: 2023-10-26 13:41:03.994681

In [64]:
df

,File Name,Column Name,Data Type,No. of Values,Distinct,Distinct (%),Is Unique?,Unique,Unique (%),Missing,...,Median Absolute Deviation (MAD),Range,5-th percentile,Q1,Median,Q3,95-th percentile,Interquartile range (IQR),Coefficient of variation (CV),Monotonicity
Index,organizations_100.csv,Index,bigint,100,100,100.0,True,100,100.0,0,...,25.0,99,5.95,25.75,50.5,75.25,95.05,49.50,0.57,2.0
Organization Id,organizations_100.csv,Organization Id,string,100,100,100.0,True,100,100.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Name,organizations_100.csv,Name,string,100,100,100.0,True,100,100.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Website,organizations_100.csv,Website,string,100,100,100.0,True,100,100.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Country,organizations_100.csv,Country,string,100,84,84.0,False,70,70.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Description,organizations_100.csv,Description,string,100,100,100.0,True,100,100.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Founded,organizations_100.csv,Founded,bigint,100,44,44.0,False,13,13.0,0,...,14.0,51,1971.00,1983.50,1995.0,2010.25,2020.00,26.75,0.01,0.0
Industry,organizations_100.csv,Industry,string,100,72,72.0,False,50,50.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Number of employees,organizations_100.csv,Number of employees,bigint,100,100,100.0,True,100,100.0,0,...,2565.0,9759,600.05,2741.25,4941.5,7558.00,9079.90,4816.75,0.57,0.0

In [78]:
output_file_name_csv

'C:\\programs\\pyprojects\\FileIngestionAWS\\output_location\\organizations_100_20231026_csv_profile.csv'

In [79]:
df.to_csv(output_file_name_csv)

In [65]:
output_file_name

'C:\\programs\\pyprojects\\FileIngestionAWS\\output_location\\organizations_100_20231026_html_profile.html'

In [ ]:
from datetime import datetime
import awswrangler as wr
import pandas as pd
import ydata_profiling as pp
import json

file_name='organizations_100.csv'

file_name1 = file_name[:-4]

input_location = r'C:\programs\pyprojects\FileIngestionAWS\input_location'
output_location = r'C:\programs\pyprojects\FileIngestionAWS\output_location'


run_date = datetime.today().strftime('%Y%m%d')
# print(run_date)



input_df = pd.read_csv(f"{input_location}\\{file_name}")
# print(input_df.head(5))
# print(input_df)


# input_df = wr.s3.read_csv(path=f'{input_location}{file_name}')

# collect column name and datatypes and convert to dict
df_dict=input_df.dtypes.to_dict()

# print(df_dict)

profile = pp.ProfileReport(input_df, title="Data Profile Report",  minimal = True)

# profile.to_file(output_location+'\\'+file_name+'.html')

# write .html file to s3 location
# This block is for writing code for uploading to s3

output_file_name = f"{file_name1}-{run_date}-profile.csv"

print(output_file_name)

json_obj = json.loads(profile.to_json())
print('profile_type: {0} json_obj: {1}'.format(type(profile),type(json_obj)))
df = pd.DataFrame(json_obj["variables"])
print(df)

df = df.drop(index = ['value_counts_without_nan', 'value_counts_index_sorted', 'hashable', 'ordering', 'n', 'first_rows', 'memory_size', 'n_negative', 'p_negative', 'n_infinite', 'n_zeros', 'sum', 'histogram', 'p_zeros', 'p_infinite', 'monotonic_increase', 'monotonic_decrease', 'monotonic_increase_strict', 'monotonic_decrease_strict'])

# transpose the dataframe
df = df.transpose()